.jumbotron{
  background-image: url("../images/UP.jpg");

}

body {
  background-image: url("../images/train.gif")!important;
  background-size: cover;
}

#add-train-btn:hover {
  background-color: brown;

}

tbody {
  text-align: center;
}
thead{
  text-align: center;
}
